@use "../../../1-helpers/functions";

.ct-woocommerce-checkout {
	display: grid;
	gap: 35px;

	@include functions.media-breakpoint-down (md) {
		grid-template-columns: minmax(0, 1fr);
	}

	@include functions.media-breakpoint-up (lg) {
		grid-template-columns: repeat(2, minmax(0, 1fr));

		> .woocommerce-error,
		> .woocommerce-NoticeGroup {
			grid-column: 1/-1;
		}
	}

	h3 {
		font-size: 17px;
	}
}

// customer details
#customer_details {
	.col-2 {
		margin-top: 40px;

		.form-row:last-child {
			margin-bottom: 0;
		}
	}
}

#ship-to-different-address {
	label {
		font-size: 15px;
		font-weight: 600;
	}
}

// notice group
.woocommerce-NoticeGroup-checkout {
	grid-column: 1/-1;
}