@use "variables";

.editor-styles-wrapper {

	// variables
	--theme-list-indent: 2.5em;

	// conditions
	--true: initial;
	--false: ;

	--wp--style--global--content-size: var(--theme-block-max-width);
	--wp--style--global--wide-size: var(--theme-block-wide-max-width);


	// page structure (boxed/normal)
	box-sizing: border-box;
	border: var(--has-boxed, var(--theme-boxed-content-border));
	padding: var(--has-boxed, var(--theme-boxed-content-spacing));
	box-shadow: var(--has-boxed, var(--theme-boxed-content-box-shadow));
	border-radius: var(--has-boxed, var(--theme-boxed-content-border-radius));


	margin-inline: auto;
	margin-block: var(--has-boxed, variables.$sides_spacing);
	width: calc(100% - #{variables.$sides_spacing * 2});
	max-width: var(--has-boxed, var(--theme-block-max-width));
}